body{
font-family:Helvetica;
font-size:14;
margin:0px;
display: block;
#background-color:#433;
#color:#dcc;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.container-50 {
	margin-left:24%;
	width: 50%;
}
.container-75 {
	margin-left:12%;
	width: 75%;
}
.container-90 {
	margin-left:4%;
	width: 90%;
}
.row-min {
  margin-right: 0px;
  margin-left: 0px;
}
.row-max {
}
.col-1, .col-2, .col-3, .col-4, .col-5{
  position: relative;
  min-height: 1px;
  margin:1%;
  padding:1%;
#  background-color:#544;
#  border: 1px #322 solid;
#  border-radius:10px;
  float: left;
}
.col-1 {
  width: 96%;
}
.col-2 {
  width:calc(45.7866633% - 2px);
}
.col-3 {
  width:31.333%;
}
.col-4 {
  width:23%;
}
.col-5 {
  width:18%;
}

img{
margin:5px;
width:calc(100% - 10px);
text-align:center;
border-radius:4px;
}
.auto-adjust
{
height: auto;
text-align:center;
border-radius:7px;
position: relative;
background-color:#99aaff;
}

